.header {
    padding: rem(32) 0;
    position: relative;
    z-index: 100;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__user-menu {
    display: flex;
    align-items: center;
    gap: rem(12);
}
.header__nav {
}
.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(10) rem(65);
    @include adp('column-gap', 65, 20);
    @media (max-width: em(768)) {
        flex-direction: column;
        align-items: flex-start;
        padding: rem(30);
        row-gap: rem(30);
    }
}
.header__nav-link {
    color: $darkBlue;
    text-decoration: none;
    font-size: rem(20);
    transition: .2s;
    display: block;
    @include adp('font-size', 20, 16);

    &:hover {
        color: $violet;
        transform: scale(1.1);
    }
}
