.intro {
    padding: rem(60) 0;
    @include adp('padding-top', 60, 20);
    @include adp('padding-bottom', 60, 20);
}
.intro__content {
    display: grid;
    grid-template-columns: 42% 58%;
    @media (max-width: em(768)) {
        grid-template-columns: 1fr;
        row-gap: rem(50);
    }
}
.intro__title {
    margin-bottom: rem(30);
}
.intro__text {
    font-size: rem(24);
    line-height: lh(34, 24);
    color: $black;
    margin-bottom: rem(35);
    @include adp('font-size', 24, 18);

    span {
        color: $violet;
        font-weight: 800;
    }
}
.intro__img {
    width: 100%;
    
    img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.intro__svg {
    @media (max-width: em(1024)) {
        margin: 0 auto;
    }

    svg {
        max-width: 100%;
    }
}
.intro__svg-smartphone {
    animation: smartphone-animation 1s forwards;
    @keyframes smartphone-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
.intro__svg-woman {
    opacity: 0;
    animation: woman-animation 1.5s .2s forwards;
    @keyframes woman-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
.intro__svg-airplane-1 {
    opacity: 0;
    animation: airplane-1-animation 1s forwards;
    @keyframes airplane-1-animation {
        0% {
            transform: translate(-80%, -80%);
            opacity: 0;
        }
        100% {
            transform: translate(0);
            opacity: 1;
        }
    }
}
.intro__svg-airplane-2 {
    opacity: 0;
    animation: airplane-2-animation 1.5s 1.8s forwards;
    @keyframes airplane-2-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
.intro__svg-airplane-3 {
    opacity: 0;
    animation: airplane-3-animation 1.5s 4s forwards;
    @keyframes airplane-3-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
.intro__svg-airplane-4 {
    opacity: 0;
    animation:  airplane-4-animation 1s 3s forwards;

    @keyframes airplane-4-animation {
        0% {
            transform: translate(80%, -80%);
            opacity: 0;
        }
        100% {
            transform: translate(0);
            opacity: 1;
        }
    }
}
.intro__svg-man-message {
    width: rem(230);
    opacity: 0;
    transform: translateY(10%);
    animation: man-message-animation .3s 1s forwards;
    @include adp('width', 230, 110);

    @keyframes man-message-animation {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
.intro__svg-woman-message {
    width: rem(178);
    opacity: 0;
    transform: translateY(10%);
    animation: woman-message-animation .3s 2s forwards;
    @include adp('width', 178, 85);

    @keyframes woman-message-animation {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
.intro__svg-man-message-2 {
    width: rem(125);
    opacity: 0;
    transform: translateY(10%);
    animation: man-message-2-animation .3s 3s forwards;
    @include adp('width', 125, 50);

    @keyframes man-message-2-animation {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
.intro__svg-message {
    width: rem(102);
    opacity: 0;
    transform: translateY(10%);
    animation: message-animation .3s 3.4s forwards;
    @include adp('width', 102, 46);

    @keyframes message-animation {
        0% {
            transform: translateY(10%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
.svg-line1 {
    stroke-dashoffset: -150;
    stroke-dasharray: 500;
    animation: svg-line1 .6s forwards 3.8s linear;
    position: relative;
    stroke: white;
}
.svg-line2 {
    stroke-dashoffset: 650;
    stroke-dasharray: 650;
    animation: svg-line2 1.2s forwards .6s linear;
    stroke: white;
}
.svg-line3 {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
    animation: svg-line3 4s forwards 5s linear;
    stroke: white;
}
.svg-line4 {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
    animation: svg-line4 1.2s forwards 2.4s linear;
    stroke: white;
}
@keyframes svg-line1 {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes svg-line2 {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes svg-line3 {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes svg-line4 {
    100% {
        stroke-dashoffset: 0;
    }
}