@import "vendor/_vars";
@import "vendor/reset";
@import "vendor/fonts";
@import "vendor/options";
@import "vendor/mixins";

.body {
    font-size: rem(14);
    font-family: 'Gilroy';
    font-weight: 400;

    &_no-scroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
        width: rem(12);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $violet;
        border-radius: rem(6);
    }
    &::-webkit-scrollbar-track {
        background: rgb(24, 225, 247, 0.2);
        border-radius: rem(6);
    }
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
button,
input {
    font-family: 'Gilroy';
}

/* Common styles */
@import "vendor/common-styles";

/* Blocks */
@import "blocks/header";
@import "blocks/intro";
@import "blocks/tocha";
@import "blocks/offers";
@import "blocks/connection";
@import "blocks/comments";
@import "blocks/email";
@import "blocks/footer";